@import url("https://fonts.googleapis.com/css?family=Odibee+Sans|Raleway&display=swap");

$primary-color: #e6456d;
$secondary-color: #08d9d6;
$background-color:#252a34;
$font-color: #eaeaea;

@mixin flex-position($prop1, $prop2) {
  display: flex;
  justify-content: $prop1;
  align-items: $prop2;
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

.outer-box {
  width:100%;
  @include flex-position(center, center);
}

.go-dutch-app {
  width: 100%;
  @include flex-position(center, center);
  flex-direction: column;
}

.header {
  width: 100%;
}

.main-title {
  @include flex-position(center, center);
  background-color: $background-color;
  height: 3rem;
  font-size: 1.4rem;
  font-family: "Raleway", serif;
  font-weight: bold;
  color: $primary-color;
}

.app-dashboard {
  min-width: 600px;
  height: auto;
  @include flex-position(center, center);
  border: 2px solid black;
  padding: 20px 0px;
}

.add-data {
  @include flex-position(space-around, center);
  width: 100%;
  
}

.add-new-btn {
  height: 50px;
  width: 180px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.add-expense-btn {
  background-color: $primary-color;
  color:$font-color;
}

.add-friend-btn {
  background-color: $secondary-color;
  color:$background-color;
}

.modal-window {
  display: none;
  width: 500px;
  height: 300px;
  background-color: #eee;
  z-index: 4;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.open-modal {
  display: block;
}


@media (min-width: 320px) and (max-width: 480px) {
  .add-data {
    flex-direction: column;
  }

  .add-expense-btn {
    margin-bottom: 20px;
  }
 
}
