@import url("https://fonts.googleapis.com/css?family=Odibee+Sans|Raleway&display=swap");

$primary-color: #ee4540;
$secondary-color: #f7b71d;
$background-color:#347474;
$font-color: #63b7af;


//#a8e6cf • #dcedc1 • #ffd3b6 • #ffaaa5 • #ff8b94

@mixin flex-position($prop1, $prop2) {
  display: flex;
  justify-content: $prop1;
  align-items: $prop2;
}

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

.outer-box {
  width:100%;
  @include flex-position(center, center);
}

.go-dutch-app {
  min-width: 600px;
  flex-direction: column;
}

.main-title {
  @include flex-position(center, center);
  background-color: $background-color;
  height: 3rem;
  font-size: 1.4rem;
  font-family: "Raleway", serif;
  font-weight: bold;
  color: $secondary-color;
}

.add-data {
  @include flex-position(space-around, center);
  height: 50px;
}

.add-data-btn {
  height: 30px;
  width: 120px;
}

.add-expense-btn {
  background-color: $primary-color;
  color:#fff;
}

.add-friend-btn {
  background-color: $secondary-color;
  color:#000;
}

@media  (max-width: 600px) {
  
  .go-dutch-app {
    min-width:100%;
  }
}

// @media (min-width: 520px) and (max-width: 768px) {
//   .go-dutch-app {
//     width:80%;
//   }
 
// }
